// Colors
$white: #FFFFFF;
$black: #000000;
$grey: #6C757D;
$blue: #0F3858;

//typography
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt&display=swap');

$font-family-headers: 'Rock Salt',
cursive;
$font-family-body: 'Raleway',
sans-serif;
